@model SocialNetwork_final.ViewModels.Account.UserViewModel;
@{
    ViewData["Title"] = "Моя страница";
}
<div class="side">
    <div class="MaxContent">
        <img class="MyPageImg" src="@Model.user.Image" />
        <div>
            <form method="get" asp-controller="AccountManager" asp-action="PageUpdate">
                <input id="buttonForUpdate" type="submit" value="Редактировать профиль" />
            </form>
        </div>
    </div>
    <div>
        <h3>@Model.user.GetFullName()</h3><hr />
        <p>Статус: @Model.user.Status</p>
        <p>Дата рождения: @Model.user.BirthDate.Date</p>
        <p>О себе: @Model.user.About</p>
        <p>Email: @Model.user.Email </p><hr /><hr />
         
        <p>Список друзей</p><hr />
    </div>
</div>
